{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
<h1></h1>
{% endblock %}

{% block content %}

<div id="map"></div>

<h2>Sites</h2>
<ul>
  {% for site in sites %}
  <li><a href="{{ url_for('site.index', id=site['id']) }}">{{ site['site_name'] }}</a>
    <!-- Add option to edit if use has appropriate privileges -->
    <ul>
      <!-- Loop through sensors associated with site -->
      {% for sensor in sensors_grouped[site['id']] %}
      <!-- {{ sensor['sensor_name'] }} -->
      <li><a href="{{ url_for('sensor.index', sensor_id=sensor['id']) }}">{{ sensor['display_name'] }}</a>
        <!-- <ul> -->
        <!--   <\!-- TODO loop through fields associated with sensor -\-> -->
        <!--   <li>Flow rate</li> -->
        <!-- </ul> -->
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>


<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript">
  {% for site in sites %}
  console.log({{ site['id']}})
  // Create tooltip with information on the site
  // Get info on sensors for the site from db
  // TODO link from site name to index page for site; link from sensor name to page displaying sensor data
  // TODO display time of latest observation
  // TODO add 'View data' link
  let tooltip =
      '<a href="{{ url_for('site.index', id=site['id']) }}">{{ site['site_name'] }}</a>' +
      '<br/>Latitude: ' + {{ site['lat'] }}.toFixed(6) +
      '<br/>Longitude: ' + {{ site['lon'] }}.toFixed(6) +
    '<br/>Sensors: ' +
      {% for sensor in sensors %}
  '<a href="{{ url_for('sensor.index', sensor_id=sensor['id']) }}">{{ sensor['display_name'] }}</a> ' +
    {% endfor %}
    '<br/>Latest observation: ' + new Date('2021-08-26 16:30').toUTCString() +
    '<br/><a href="site/{{ site['id'] }}/view_data">View data</a>';

  // Add marker for site
  // Using bindPopup() instead of bindTooltip() so that you can mouse in to access links
  var marker = L.marker([{{ site['lat'] }}, {{ site['lon'] }}])
    .addTo(mymap)
    .bindPopup(tooltip);
  {% endfor %}
</script>
  
{% endblock %}
